@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

:root {
  --bg: rgb(32, 32, 32);
  --green: rgb(123, 218, 0);
  --hover: rgb(190, 190, 190);
  --accent: rgb(248, 248, 248);
}

body{
    background-color: var(--bg);
    color: var(--accent);
}

.intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--bg);
  color: var(--green);
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeOut 1s ease-in-out 1.5s forwards; 
}


nav{
  background-color: var(--bg);
  color: var(--accent);
  padding: 27px 20px;
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  position: sticky;
  top: 0;
  z-index: 100;
}

#hamburger{
  border: 0;
  background:none;
  font-size: 1.3rem;
  color: var(--accent);
  display: none;
  position: absolute;
  top: 11px;
  right: 16px;
}

.hamburger{
  max-height: 250px;
  flex-direction: column;
}

nav span{
  font-size: 1.5rem;
  animation: down-up both;
  animation-duration: 2s;
  animation-delay: 4s;
}

ul li{
  list-style: none;
  text-decoration: none;
  display: inline;
}

ul li a{
  display: inline-block;
  color: var(--accent);
  text-decoration: none;
  margin: 0px 10px;
  transition: 0.4s;
  font-size: 1.5rem;
}

ul li a:hover{
  color: var(--hover);
  transform: translateY(-5px);
}

.hero{
  background-image: url(grid.avif);
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: solid 1px rgb(124, 124, 124);
}

.hero h1{
  color: var(--accent);
  font-size: 5rem;
  width: 70%;
  margin: 20px;
  animation: left-right both;
  animation-duration: 2s;
  animation-delay: 2.5s;
}

.hero span{
  color: var(--green);
  font-weight: bolder;
}

.hero p{
  color: var(--accent);
  font-size: 1.4rem;
  margin: 0px 20px;
  animation: left-right both;
  animation-duration: 2s;
  animation-delay: 3.5s;
}

.cta{
  margin: 20px 20px;
  background-color: var(--green);
  color: var(--accent);
  text-decoration: none;
  max-width: fit-content;
  padding: 15px 10px;
  border-radius: 10px;
  transition: 0.3s;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  animation: left-right both;
  animation-duration: 2s;
  animation-delay: 3.5s;
  animation-fill-mode: backwards
}

.cta:hover{
  box-shadow: 0px 0px 15px var(--green);
  transform: translateX(8px);
}

#about{
  background-image: url(grid.avif);
  height: 70vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: solid 1px rgb(100, 100, 100);
}

#about h2{
  font-size: 3rem;
  text-decoration: underline;
  margin-bottom: 20px;
  color: var(--green);
  margin-left: 15px;
  animation: right-left both;
  animation-timeline: view();
  animation-range: entry 40% cover 60%;
}

.info{
  font-size: 1.3rem;
  margin-bottom: 10px;
  margin-left: 15px;
  animation: left-right both;
  animation-timeline: view();
  animation-range: entry 60% cover 90%;
}

.about-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  max-width: 80%;
  margin: 30px auto;
  gap: 20px;
}

.about-grid p{
  margin-top: 2px;
  background-color: var(--bg);
  padding: 30px 15px;
  font-size: 1.3rem;
  border-radius: 10px;
  box-shadow: 5px 5px 0px var(--hover);
  transition: 0.4s;
}

.one{  
  animation: down-up both;
  animation-timeline: view(50% 10%);
}

.two{  
  animation: down-up both;
  animation-timeline: view(40px 20%);
}

.three{  
  animation: down-up both;
  animation-timeline: view(20% 30%);
}

.about-grid p span{
  color: var(--green);
  font-weight: bolder;
  animation-range: entry 80% cover 100%;
}

.about-grid p:hover{
  box-shadow: 0px 0px 20px var(--green);
}

#projects h2{
  font-size: 2rem;
  text-align: center;
  text-decoration: underline;
  margin: 25px;
  color: var(--green);
  animation: left-right both;
  animation-timeline: view();
  animation-range: entry 20% cover 40%;
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 11px;
}

.card{
  background-color: var(--bg);
  text-align: center;
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 5px 5px 0px var(--hover);
  border-top: solid 5px var(--green);
  border-left: solid 5px var(--green);
  transition: 0.3s ease-in-out; 
}

#card-one{  
  animation: up-down both;
  animation-timeline: view();
  animation-range: entry 40% cover 60%;
  animation-fill-mode: backwards;
}

#card-two{  
  animation: down-up both;
  animation-timeline: view();
  animation-range: entry 40% cover 60%;
  animation-fill-mode: backwards;
}

#card-three{  
  animation: up-down both;
  animation-timeline: view();
  animation-range: entry 40% cover 60%;
  animation-fill-mode: backwards;
}

#card-four{  
  animation: down-up both;
  animation-timeline: view();
  animation-range: entry 40% cover 60%;
  animation-fill-mode: backwards;
}

.card:hover{
  box-shadow: -9px -9px 15px green;
  transform: translateY(-5px);
}

.cardimg{      
    margin: 1px;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.project1{
  background-image: url(personal-trainer/Personal-Trainer.png);
}
.project2{
  background-image: url(bmw/bmw.png);
}
.project3{
  background-image: url(cafe/cafe.png);
}
.project4{
  background-image: url(Resturent/restaurent.png);
}


.card h3{
  margin: 10px;
}

.card a{
  display: inline-block;
  color: var(--green);
  margin: 5px;
  transition: 0.3s;
}

.card a:hover{
  transform: translateX(5px);
  text-shadow: 0px 0px 15px var(--green);
} 

#contact{
  background-color: rgb(8, 8, 8);
  padding: 40px;
  height: 40vh;
  margin-top: 40px;
}

#contact h2{
  margin-top: 25px;
  margin-left: 20px;
  font-size: 2rem;
  animation: left-right both;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

#contact p{
  margin-bottom: 40px;
  margin-left: 20px;
  font-size: 1.3rem;
  animation: left-right both;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

.links{
  display: flex;
  justify-content: center;
  padding: 50px;
}

#contact a{
  color: var(--green);
  padding: 10px;
  font-size: 1.4rem;
  transition: 0.3s;
}

#contact a:hover{
  transform: translateY(-5px);
  text-shadow: 0px 0px 15px var(--green);
}

hr{
  border: 0;
  border-top: 1px solid var(--bg);
}

footer{
  text-align: center;
  background-color: rgb(8, 8, 8);
  padding: 15px;
}

@keyframes fadeOut {
  0% { 
    opacity: 1; 
    display: flex
  }
  99% { 
    opacity: 0; 
    display: flex;
  }
  100% { 
    opacity: 0; 
    display: none;
  }
}

@keyframes left-right{
  from{opacity: 0; transform: translateX(-20px);}
  to{opacity: 1; transform: translateX(0px);}
}

@keyframes down-up{
  from{opacity: 0; transform: translateY(25px);}
  to{opacity: 1; transform: translateY(0px);}
}

@keyframes right-left{
  from{opacity: 0; transform: translateX(20px);}
  to{opacity: 1; transform: translateX(0px);}
}

@keyframes up-down{
  from{opacity: 0; transform: translateY(-25px);}
  to{opacity: 1; transform: translateY(0px);}
}

@keyframes scale{
  from{opacity: 0; transform: scale(0.5);}
  to{opacity: 1; transform: scale(1);}
}

@media (max-width:1024px){
  nav{font-size: 1.2rem;}
  nav span{font-size: 1.4rem;}
  .hero{height: 75vh;}
  .hero h1{font-size: 3.5rem; margin: 10px 20px;}
  .hero p{font-size: 1.4rem;}
  .cta{padding: 12px;font-size: 1rem;}
  #about{height: 80vh;}
  #about h2{font-size: 2rem; margin: 10px 15px;}
  #about p{font-size: 1.1rem; margin-bottom: 10px;}
  .cta{padding: 10px;font-size: 0.9rem;}
  #projects h2{font-size: 1.9rem;}
  #contact{height: 21vh;}
  #contact h2{font-size: 1.6rem; margin: 10px 20px;}
  #contact p{font-size: 1.2rem; margin-bottom: 10px;}
}

@media (max-width:1023px){
    nav{font-size: 1.35rem; padding: 20px;}
    ul li {display: none;}
    ul li a{font-size: 1.25rem;}
    #hamburger{display: block; font-size: 1.5rem; top: 15px;}
}

@media (max-width:900px){
  nav{font-size: 1.1rem;}
  nav span{font-size: 1rem;}
  ul li a{font-size: 1.1rem; margin-top: 2px;}
  #hamburger{font-size: 1.3rem; top: 18px; right: 20px;}
  .hero{height: 75vh;}
  .hero h1{font-size: 3rem; margin: 10px 20px;}
  .hero p{font-size: 1.2rem;}
  .cta{padding: 10px;font-size: 0.9rem;}
  #about{height: 80vh;}
  #about h2{font-size: 2rem; margin: 10px 15px;}
  #about p{font-size: 1.1rem; margin-bottom: 10px;}
  .cta{padding: 10px;font-size: 0.9rem;}
  #projects h2{font-size: 1.9rem;}
  #contact{height: 21vh;}
  #contact h2{font-size: 1.5rem; margin: 10px 20px;}
  #contact p{font-size: 1rem; margin-bottom: 10px;}
  #contact a{font-size: 1.2rem;}
}

@media (max-width:600px){
  nav{font-size: 1rem;}
  nav span{font-size: 1rem;}
  ul li a{font-size: 1rem;}
  #hamburger{font-size: 1.2rem; top: 18px;}
  .hero{height: 75vh;}
  .hero h1{font-size: 3rem; margin: 10px 20px;}
  .hero p{font-size: 1.2rem;}
  .cta{padding: 10px;font-size: 0.9rem;}
  #about{min-height: 90vh}
  #about h2{font-size: 2rem; margin: 10px 15px;}
  #about p{font-size: 1.1rem; margin-bottom: 10px;}
  .cta{padding: 10px;font-size: 0.9rem;}
  #projects h2{font-size: 1.9rem;}
  #contact{height: 20vh;}
  #contact h2{font-size: 1.5rem; margin: 10px 20px;}
  #contact p{font-size: 1rem; margin-bottom: 10px;}
  #contact a{font-size: 1.2rem;}
}

@media (max-width:480px){
  nav{font-size: 0.8rem; padding: 20px 15px;}
  nav span{font-size: 0.9rem;}
  ul li a{font-size: 1rem;}
  #hamburger{font-size: 1.1rem; top: 18px;}
  .hero{height: 75vh;}
  .hero h1{font-size: 2.8rem; margin: 10px 20px;}
  .hero p{font-size: 1.2rem;}
  .cta{padding: 5px;font-size: 0.8rem;}
  #about{height: 90vh}
  #about h2{font-size: 2rem; margin: 10px 15px;}
  #about p{font-size: 1.1rem; margin-bottom: 10px;}
  .cta{padding: 10px;font-size: 0.9rem;}
  #projects h2{font-size: 1.9rem;}
  #contact{height: 20vh;}
  #contact h2{font-size: 1.5rem; margin: 10px 20px;}
  #contact p{font-size: 1rem; margin-bottom: 10px;}
  #contact a{font-size: 1.2rem;}
}

@media (max-width:375px){
  nav{font-size: 0.7rem; align-items: baseline;}
  ul li a{font-size: 0.9rem;}
  #hamburger{font-size: 1rem;}
  nav span{font-size: 0.9rem;}
  .hero{height: 90vh;}
  .hero h1{font-size: 2rem; margin: 10px 20px;}
  .hero p{font-size:0.9rem;}
  .cta{padding: 5px;font-size: 0.2rem;}
  #about{height: 100vh; padding: 15px;}
  #about h2{font-size: 1.7rem; margin: 10px 15px;}
  #about p{font-size: 1rem; margin-bottom: -5px;}
  .cta{padding: 10px;font-size: 0.9rem;}
  #projects h2{font-size: 1.7rem;}
  #contact{height: 50vh;}
  #contact h2{font-size: 1.5rem; margin: 10px 20px;}
  #contact p{font-size: 1rem; margin-bottom: 10px;}
  #contact a{font-size: 0.8rem; padding: 5px;}
}